.third-page {
    height: 100%;
    position: relative;
    .logo-container {
      position: absolute;
      height: 892px;
      width: 949px;
      left: 851px;
      top: -70px;
  
     
    }
    .third-page-components {
      margin: 0em 12.5em;
      max-width: 596px;
      margin: 0em 12.5em;
    }
  }