.fourth-page {
  .fourth-page-components {
    margin: 0em 12.5em;
    margin-top: 2.125em;
    max-width: 650px;
    .starting-text {
      color: #232323;
      font-size: 1.375rem;
      font-weight: 400;
      margin-bottom: 0.875em;
      line-height: 1.688em;
    }
  }
}
