.header-container {
  width: 100%;
  height: 17.22%;
  padding: 7.938em 12.5em 0em 12.5em;
  .redberry-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1.8px solid #232323;
  }
  .page-identifier {
    color: #232323;
    font-size: 2.5rem;
    font-weight: 600;
  }
  horizontal-line {
    height: 1.8px;
  }
  .horizontal-line hr {
  }
}
