* {
  box-sizing: border-box;
  margin: 0;
}

.app-container {
  max-width: 1920px;
  max-height: 1080px;
  width: 1920px;
  height: 1080px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;

  background: #eaeaea;

  .component-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .main {
      height: 77%;
      flex-grow: 1;
      overflow: auto;
      min-height: 2em;
    }
  }
}
